// https://fonts.google.com/selection?query=vt&selection.family=Indie+Flower|Roboto:300,300i,400,400i,700,700i|Satisfy|VT323
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:300,300i,400,400i,700,700i|Satisfy|VT323");

$font_handwriting: 'Indie Flower', cursive;
$font_cursive: 'Satisfy', cursive;
$font_mono: 'VT323', monospace;
$font_normal: 'Roboto', sans-serif;
